.footer-inside-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.footer-inside-container h1 {
  margin-top: 30px;
}
.footer-inside-container a {
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  color: black;
}
