.quiz-game-title {
  font-size: 60px;
  display: flex;
  justify-items: right;
  justify-content: right;
  margin-left: 15vw;
  margin-top: 1rem;
}
.user-name {
  display: block;
  float: left;
}
.back-to-lobby {
  position: absolute;
  display: flex;
  top: 15%;
  justify-content: center;
  justify-items: center;
}
.question-block {
  position: absolute;
  display: block;
  height: 100vh;
  width: 50%;
  float: left;
  left: 0;
  padding: 10px;
}
.clock {
  margin: 12vh 0 0 10vw;
}
.rate-container {
  position: absolute;
  display: flex;
  top: 60%;
  justify-content: center;
  justify-items: center;
}
.game-panel {
  position: absolute;
  float: right;
  top: 15%;
  left: 60%;
  font-size: 40px;
}
.game-panel span {
  margin-left: 40px;
}
.rate-title {
  display: block;
  position: absolute;
  margin-top: 30px;
  top: 0;
  left: 40%;
  width: 80vw;
  font-size: 25px;
}
.rate-stars {
  position: relative;
  display: block;
  width: auto;
  left: 80%;
  margin-top: 40px;
  font-size: 100px;
}
.next-quest-btn {
  display: block;
  position: absolute;
  margin-top: 45%;
  left: 30vw;
  width: auto;
  font-size: 25px;
}
.endgame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}
.endgame-text {
  font-size: 3rem;
}
.start-over-button {
  font-size: 2rem;
}
