.user-name {
  position: absolute;
  display: flex;
  top: 10%;
  justify-content: center;
  justify-items: center;
}
.back-to-lobby {
  position: absolute;
  display: flex;
  top: 15%;
  justify-content: center;
  justify-items: center;
}
.question-block {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  padding: 10px;
}
.rate-container {
  position: absolute;
  display: flex;
  top: 60%;
  justify-content: center;
  justify-items: center;
}
