.quiz-game-title {
  font-size: 60px;
  display: flex;
  justify-items: right;
  justify-content: right;
  margin-left: 15vw;
}

.user-name {
  display: block;
  float: left;
}
.back-to-lobby {
  position: absolute;
  display: flex;
  top: 15%;
  justify-content: center;
  justify-items: center;
}
.question-block {
  position: absolute;
  display: block;
  height: 100%;
  width: 50%;
  float: left;
  left: 0;
  padding: 10px;
}
.rate-container {
  position: absolute;
  display: flex;
  top: 60%;
  justify-content: center;
  justify-items: center;
}
.game-panel {
  position: absolute;
  float: right;
  top: 12%;
  left: 60%;
  font-size: 40px;
}
.game-panel span {
  margin-left: 40px;
}
.rate-stars {
  display: block;
}
