.lobby-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lobby-title {
  font-size: 6rem;
}
.player-input {
  font-size: 2rem;
  text-align: center;
}
.lobby-buttons {
  margin-top: 2rem;
}
.lobby-buttons button {
  margin-left: 10px;
}
.btn {
  font-size: 1.6rem;
  background-color: rgba(64, 224, 117, 0.315);
}
.login-error {
  margin-top: 40px;
  font-size: 25px;
}
