.question-title {
  font-size: 30px;
}
.question-answers-container {
  font-size: 40px;
}

.question-answers-container td {
  font-size: 30px;
  border-bottom: 1px solid gray;
}
.question-answers-container td label {
  margin-left: 10px;
}

#arrow-in-game {
  float: left;
  margin-right: 20px;
}
.selected-option {
  border: 1px dashed gray;
}
.correct-answer {
  background-color: green;
}
.wrong-answer {
  background-color: red;
}
.game-btn {
  position: absolute;
  top: 45%;
  left: 2%;
}
