/* .question-container {
  border: 1px solid black;
  position: absolute;
  width: auto;
  height: auto;
  background-color: yellow;
} */
.question-title {
  font-size: 25px;
}
.question-answers-container {
  font-size: 20px;
}
.selected-option {
  border: 1px dashed gray;
}
.correct-answer {
  background-color: green;
}
.wrong-answer {
  background-color: red;
}
