.score-board-title {
  display: inline-block;
  justify-content: center;
  margin-left: 40%;
}
.fa-arrow-left {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
}
#score-table {
  font-size: 16px;
  float: left;
  width: 80vw;
}
